* {
    box-sizing: border-box;
}

div {
    display: block;
    font-family: "Open Sans", serif;
}

:before, :after {
    box-sizing: border-box;
}

.graduates-container {
    width: 40%;
}

.graduates-title {
    padding-left: 20px;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 28px;
    margin-bottom: 25px;
}


.graduates-block {
    align-content: center;
    text-align: center;
}

.graduates-block::after {
    display: table;
    clear: both;
    content: '';
    margin-bottom: 75px;
}

.graduate-information {
    width: 27%;
    display: block;
    float: left;
    box-sizing: border-box;
}

.graduate-photo {
    padding-top: 2px;
}

.inner_graduate-photo {
    margin: 0 19px 19px 16px;
}

.graduate-job {
    font-size: 14px;
    font-style: italic;
    text-align: center;
}

.graduate-text {
    width: 69%;
    display: block;
    float: left;
    box-sizing: border-box;
    margin: 0 0 0 4%;
}

.inner-graduate-text {
    padding: 0 12px 8px 48px;
    font-size: 18px;
    font-style: italic;

}

.inner-graduate-text::after {
    content: '';
    display: table;
    clear: both;
}

.graduate-text:before, .graduate-text:after {
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    background-image: url("Task3/quote.png");
    content: '';
}

.graduate-text:before {
    background-position: 0 0;
}

.graduate-text:after {
    background-position: -20px 0;
}

.text {
    padding: 30px;
    text-align: left;
}

.graduate-name {
    display: block;
    text-align: right;
    font-style: normal;
    font-size: 18px;
}

.graduate-name:before {
    content: '\2014\0000a0';
}

img {
    border-radius: 50%;
}

.last-quote {
    text-align: right;
}
